body {
  background: #000;
  color: #fff;
  font-family: 'Verdana', sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

a {
  color: aquamarine;
  font-size: 16px;
}

video {
  display: block;
  margin: 0 auto;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p {
  color: gray;
  font-size: 21px;
}

img {
  display: block;
  margin: 0 auto;
}

#icon {
  margin-top: 20px;
}

p:last-of-type {
  color: gray;
  text-align: right;
}
